<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LimeSoda_MageMonitoring>
            <version>1.1.1</version>
        </LimeSoda_MageMonitoring>
    </modules>

    <default>
        <magemonitoring>
            <tabs>
                <limesoda_sales>
                    <label>Sales</label>
                    <title>Sales</title>
                    <display_prio>100</display_prio>
                    <widgets>
                        <sales_check>
                            <impl>LimeSoda_MageMonitoring_Model_Widget_Sales_Check</impl>
                            <display_prio>10</display_prio>
                        </sales_check>
                        <order_statuses>
                            <impl>LimeSoda_MageMonitoring_Model_Widget_Sales_OrderStatuses</impl>
                            <display_prio>40</display_prio>
                        </order_statuses>
                        <order_statuses_incomplete>
                            <impl>LimeSoda_MageMonitoring_Model_Widget_Sales_OrderStatusesIncomplete</impl>
                            <display_prio>50</display_prio>
                        </order_statuses_incomplete>
                        <order_statuses_in_progress>
                            <impl>LimeSoda_MageMonitoring_Model_Widget_Sales_OrderStatusesInProgress</impl>
                            <display_prio>60</display_prio>
                        </order_statuses_in_progress>
                    </widgets>
                </limesoda_sales>
            </tabs>
        </magemonitoring>
    </default>
</config>
